{% extends "template.html" %}

{%block title %}Calendar{% endblock %}

{% block content %}
	<style>
		#calendar {
			background-image: url(../style/img/calendarpage.png);
			background-size: contain;
			background-repeat: no-repeat;
			width: 250px;
			height: 250px;
		}
		#calendarwidget {
			padding-bottom: 185px;
			padding-left: 55px;
			-webkit-appearance:none;
			height: 250px;
			width: 250px;
			background-color: transparent;
			font-size: 25px;
			outline: none;
			text-shadow: 0 0 3px #ffe700;
		}

		.alarm {
			background-image: url(../style/img/alarm.png);
			background-size: contain;
			background-repeat: no-repeat;
			width: 200px;
			height: 100px;
		}

		.class {
			-webkit-appearance:none;
			width: 200px;
			height: 100px;
			font-size: 25px;
			outline: none;
			background-color: rgba(0,0,255,0.3);
			text-shadow: 0 0 3px #ffe700;
		}
	</style>

	<h2 style='text-align:center'>Calendar</h2>
	<h4 style='text-alight:center'>Pick a date to volunteer or to invite a friend to an opportunity!</h4>
	<br>

	<center>

	<div id="calendar">
		<input type="date" id="calendarwidget">
	</div>

	<div class="alarm">
		<input type="time" class="time">
	</div>

	<div class="alarm">
		<input type="time" class="time">
	</div>

	<div class="form-group">
		<label for="usr">Enter the start time:</label>
		<br>
		<input type="time" step="60" style="background-image: url(../style/img/alarm.png); width: 45%; height: 15%; padding: 0; margin: 0; background-size: contain; border: none; background-repeat: no-repeat; font-family: 'Courier New'; font-size: 50px; text-align: center;">
	</div>

	<div class="form-group">
		<label for="usr">Enter the end time:</label>
		<br>
		<input type="time" step="60" style="background-image: url(../style/img/alarm.png); width: 45%; height: 15%; padding: 0; margin: 0; background-size: contain; border: none; background-repeat: no-repeat; font-family: 'Courier New'; font-size: 50px; text-align: center;">
	</div>
	</center>

{% endblock %}
