{% extends "template.html" %}

{%block title %}Calendar{% endblock %}

{% block content %}
	<style>
		#calendar {
			background-image: url(../style/img/calendarpage.png);
			background-size: contain;
			background-repeat: no-repeat;
			width: 250px;
			height: 250px;
		}
		#calendarwidget {
			padding-bottom: 185px;
			padding-left: 55px;
			-webkit-appearance:none;
			height: 250px;
			width: 250px;
			background-color: transparent;
			font-size: 25px;
			outline: none;
			text-shadow: 0 0 3px #ffe700;
		}

		.alarm {
			background-image: url(../style/img/alarm.png);
			background-size: contain;
			background-repeat: no-repeat;
			width: 200px;
			height: 100px;
		}

		.time {
			-webkit-appearance:none;
			padding-left: 27px;
			width: 200px;
			height: 100px;
			font-size: 25px;
			outline: none;
			background-color: transparent;
			text-shadow: 0 0 3px #ffe700;
		}
	</style>

	<center>

	<h2 style='text-align:center'>Calendar</h2>
	<h4 style='text-alight:center'>Pick a date to volunteer or to invite a friend to an opportunity!</h4>
	<br>

	<div id="calendar">
		<input type="date" id="calendarwidget">
	</div>

	<br>
	<h4>Select your start time:</h4>

	<div class="alarm">
		<input type="time" class="time">
	</div>

	<br>
	<h4>Select your end time:</h4>

	<div class="alarm">
		<input type="time" class="time">
	</div>

	<br>

	<a href="/sent/{{name}}">
	<button id="submitcalendar">Submit</button>
	</a>

	</center>

{% endblock %}
