{% extends "template.html" %}

{%block title %}Calendar{% endblock %}

{% block content %}

	<h2 style='text-align:center'>Calendar</h2>
	<h4 style='text-alight:center'>Pick a date to volunteer or to invite a friend to an opportunity!</h4>
	<br>


	<div class="form-group">
		<label for="usr">Enter the availability date:</label>
		<br>
		<input type="date" min="2015-02-01" max="2016-01-01" style="background-image: url(../style/img/joanna.jpg); width: 80%; height: 50%; padding: 0; margin: 0; background-size: contain; border: none; background-repeat: no-repeat; color: rgba(0,0,0,0);">
	</div>

	<div class="form-group">
		<label for="usr">Enter the availability time:</label>
		<br>
		<input type="time" style="background-image: url(../style/img/clock.gif); width: 40%; height: 40%; padding: 0; margin: 0; background-size: contain; border: none; background-repeat: no-repeat;">
	</div>

	<!-- <img src='../style/img/calendar.jpg'> -->

{% endblock %}
