{% extends "template.html" %}

{%block title %}Chat{% endblock %}

{% block head %}
{{ parent() }}
<script>
	$(document).ready(function() {
		$('#send').submit(function(e) {
    		e.preventDefault();
    		var msg = $('#text').val();
    		$('#msgbox').append("<div><b>You:</b> " + msg + "</li>");
    	});
	});
</script>
{% endblock %}

{% block content %}

	<div>
		<span><img class="img-circle" height="50px" width= "50px" src='../style/img/{{name|lower}}.jpg'> </span>
		<span><h1> {{name}} </h1></span>
	</div>

	<form id="send">
      <input class="form-control input-block" type="text" id="text" placeholder="Enter message">
      <input class="btn btn-primary btn-block" type="submit" value="Send message">
    </form>
    <br/>
    <ul id="msgbox"></ul>

{% endblock %}