{% extends "template.html" %}

{%block header %}
{{ parent() }}

<script>
	$document.ready(function () {
		$('#send').submit(function () {
			alert("Hello!");
			var msg = $('#text').val();
			$('#msgbox').append('<li><b>You: </b>' + msg + '</li>');
		});
	});
</script>

{% endblock %}
{%block title %}Chat{% endblock %}

{% block content %}

	<h3> Chat with Joanna </h3>
	<form id="send">
      <input class="form-control input-block" type="text" id="text" placeholder="Enter message">
      <input class="btn btn-primary btn-block" type="submit" value="Send message">
    </form>
    <br/>
    hello
    <ul id="msgbox"></ul>

{% endblock %}