{% extends "template.html" %}

{%block title %}Connect{% endblock %}

{% block content %}

	<style>
		#connect-button {
			color: #33CCFF;
		}

		#connect-button>span {
			color: #33CCFF;
		}

		h2 {
			text-transform: uppercase; 
			text-align: center;
			font-size: 18px;
		}
		
		h4:after {
		    content:' ';
		    display:block;
		    border:2px solid #d0d0d0;
		    border-radius:4px;
		    -webkit-border-radius:4px;
		    -moz-border-radius:4px;
		    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		}

		.interest-text {
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase; 
			font-size: 9px;
		}

		.ul li {
			display: inline;
			list-style-type: none;
			padding-right: 20px;
		}

	</style>
			<center>
	    	<div class='media' style='margin-bottom:1%'>
	    		<div class='media-body'>
	    			<a href="/catherine"><h2>{{name}}</h2></a>
	    			<h4>{{gender}}, {{age}}</h4>
	    		</div>
	    	</div>
	    	<div class='panel panel-default'>
		   		<div class='panel-body' style='text-align:center'>
			   		<ul style='width:80%; float:left; margin-right:2%'>
			   			<li id='education'><small><span class='glyphicon glyphicon-education' style='font-size:2.5em'></span></small> <div id='education-text' class='interest-text' style='display:none'>Education</div></li>
			   			<li id='environment'><small><span class='glyphicon glyphicon-tree-deciduous' style='font-size:2.5em'></span>  </small><div id='environment-text' class='interest-text' style='display:none'>Environment</div></li>

			   			<li id='service'><small><span class='glyphicon glyphicon-road' style='font-size:2.5em'></span></small><div id='service-text' class='interest-text' style='display:none'>Service work</div></li>	
			   			
			   			<li id='food'><small><span class='glyphicon glyphicon-grain' style='font-size:2.5em'></span></small><div id='food-text' class='interest-text' style='display:none'>Food banks</div></li>
			   		</ul>
		   		</div>
			    <div class='media-center'>
			    	
			    	<p text-align='center'>
			    	<a href="/catherine">
				    <img class='img-circle' height='200px' width='200px' src='../style/img/{{name|lower}}.jpg'></a>
				    </p>	
				
		 	    </div>
		 	    <a href='{{id + 1}}'>
		 	    <button id="choice-button-no">
			    	<span class='glyphicon glyphicon-remove' style='font-size:2.5em'></span>
			    </button></a>
			    <a href='{{id + 1}}'>
			    <button id="choice-button-yes">
			   		<span class='glyphicon glyphicon-ok' style='font-size:2.5em'></span>
			    </button></a>

	  		</div>
	  		</center>

	  <script>
		$( "#education" ).click(function() {
		  $( "#education-text" ).toggle();
		});

		$( "#environment" ).click(function() {
		  $( "#environment-text" ).toggle();
		});

		$( "#service" ).click(function() {
		  $( "#service-text" ).toggle();
		});

		$( "#food" ).click(function() {
		  $( "#food-text" ).toggle();
		});
		</script>
{% endblock %}