{% extends "template.html" %}

{%block title %}Connect{% endblock %}

{% block content %}

	    	<div class='media' style='margin-bottom:1%'>
	    		<div class='media-body'>
	    			<h1>Katie Delveccio</h1><h4>Female, 29</h4>
	    		</div>
	    	</div>
	    	<div class='panel panel-default'>
		   		<div class='panel-body' style='text-align:center'>
			   		<ul class='list-group' style='width:48%; float:right; margin-right:2%'>
			   			<li class='list-group-item'><span class='glyphicon glyphicon-education' style='font-size:2.5em'></span>  Education</li>
			   			<li class='list-group-item'><span class='glyphicon glyphicon-tree-deciduous' style='font-size:2.5em'></span>  Soup kitchens</li>
			   		</ul>

			   		<ul class='list-group' style='width:48%; float:left;'>
			   			<li class='list-group-item'><span class='glyphicon glyphicon-road' style='font-size:2.5em'></span>  Service work</li>	
			   			<li class='list-group-item'><span class='glyphicon glyphicon-grain' style='font-size:2.5em'></span> Food banks</li>
			   		</ul>
		   		</div>
			    <div class='media-center'>
			    	<span class='glyphicon glyphicon-menu-left' style='font-size:2.5em'></span>
				    <img class='img-circle' id='user_picture' height='150px' src='../style/img/katie.jpg'></img>	
				    <span class='glyphicon glyphicon-menu-right' style='font-size:2.5em'></span>
		 	    </div>
		 	    <button id="choice-button-no">
			    	<span class='glyphicon glyphicon-remove' style='font-size:2.5em'></span>
			    </button>
			    <button id="choice-button-yes">
			   		<span class='glyphicon glyphicon-ok' style='font-size:2.5em'></span>
			    <button>
	  		</div>

{% endblock %}