{% extends "template.html" %}

{%block title %}Connect{% endblock %}

{% block content %}
			<center>
	    	<div class='media' style='margin-bottom:1%'>
	    		<div class='media-body'>
	    			<h2>{{name}}</h2><h4>{{gender}}, {{age}}</h4>
	    		</div>
	    	</div>
	    	<div class='panel panel-default'>
		   		<div class='panel-body' style='text-align:center'>
			   		<ul class='list-group' style='width:48%; float:right; margin-right:2%'>
			   			<li class='list-group-item'><small><span class='glyphicon glyphicon-education' style='font-size:2.5em'></span></small>  Education</li>
			   			<li class='list-group-item'><small><span class='glyphicon glyphicon-tree-deciduous' style='font-size:2.5em'></span>  </small>Environment</li>
			   		</ul>

			   		<ul class='list-group' style='width:48%; float:left;'>
			   			<li class='list-group-item'><small><span class='glyphicon glyphicon-road' style='font-size:2.5em'></span></small>  Service work</li>	
			   			<li class='list-group-item'><small><span class='glyphicon glyphicon-grain' style='font-size:2.5em'></span></small> Food banks</li>
			   		</ul>
		   		</div>
			    <div class='media-center'>
			    	
			    	<p text-align='center'>
				    <img class='img-circle' height='200px' width='200px' src='../style/img/{{name|lower}}.jpg'>
				    </p>	
				
		 	    </div>
		 	    <a href='{{id + 1}}'>
		 	    <button id="choice-button-no">
			    	<span class='glyphicon glyphicon-remove' style='font-size:2.5em'></span>
			    </button></a>
			    <a href='{{id + 1}}'>
			    <button id="choice-button-yes">
			   		<span class='glyphicon glyphicon-ok' style='font-size:2.5em'></span>
			    </button></a>

	  		</div>
	  		</center>
{% endblock %}