{% extends "template.html" %}

{%block title %}Welcome!{% endblock %}


{% block content %}

	<style>

		h2, h4 {
			text-align: center;
			font-family: 'PT Serif', serif;
			font-weight: 900;
			text-transform: uppercase;
		}

		h2 { color: black;}
		h4 { color: #434343;}

		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 18px;
		}

		.container {
			background-color: #e8e7e8;
		}
		
		#gallery .item img {

		}
		
	</style>


	    	<div id='demo' class='swipe'>
	    	<ul>
		    	<li class='first dragend-page'>
		    		<h2>Do Good Together</h2>
		    		<h4>Get Social, Get Serving</h4>
	    			<img src='../style/img/do-good-together.png' height='200px' class='slideUp'>
				</li>
			
				<li class='dragend-page'></li>

				<li clas='middle dragend-page'>
	    	         <p>Do Good Together is an application that lets you meet other <b>service oriented</b> individuals in your area. Browse individuals by service interest and make your first date a <b>service to your community!</b></p>
				</li>
	    	
				<li class='dragend-page'></li>

				<li class='last dragend-page'>
	    	          <p>To get started, <b>browse</b> volunteering opportunities in the area, <b>connect</b> with new faces, see who is a <b>match</b> or <b>invite</b> your friends to go volunteer with you.</p>
	    		</li>
	    	</ul>
	    	</div>

{% endblock %}