{% extends "template.html" %}

{%block title %}Welcome!{% endblock %}


{% block content %}

	<style>

		h2, h4 {
			text-align: center;
			font-family: 'PT Serif', serif;
			font-weight: 900;
			text-transform: uppercase;
		}

		h2 { color: black;}
		h4 { color: #434343;}

		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 18px;
		}

		.container {
			background-color: #e8e7e8;
		}
		
		#gallery .item img {

		}
		
	</style>


	    	<div class='container'>
		    	<div data-role='page' id='page1'>
		    		<h2>Do Good Together</h2>
		    		<h4>Get Social, Get Serving</h4>
	    			<img src='../style/img/do-good-together.png' height='200px' class='slideUp'>
				</div>
			
				<div data-role='page' id='page2'>
	    	         <p>Do Good Together is an application that lets you meet other <b>service oriented</b> individuals in your area. Browse individuals by service interest and make your first date a <b>service to your community!</b></p>
				</div>
	    	
				<div data-role='page' id='page3'>
	    	          <p>To get started, <b>browse</b> volunteering opportunities in the area, <b>connect</b> with new faces, see who is a <b>match</b> or <b>invite</b> your friends to go volunteer with you.</p>
	    		</div>
	    	</div>
	<script>
			$(document).on('swipeleft', '.ui-page', function(event){    
			    if(event.handled !== true) // This will prevent event triggering more then once
			    {    
			        var nextpage = $.mobile.activePage.next('[data-role="page"]');
			        // swipe using id of next page if exists
			        if (nextpage.length > 0) {
			            $.mobile.changePage(nextpage, {transition: "slide", reverse: false}, true, true);
			        }
			        event.handled = true;
			    }
			    return false;         
			});

			$(document).on('swiperight', '.ui-page', function(event){     
			    if(event.handled !== true) // This will prevent event triggering more then once
			    {      
			        var prevpage = $(this).prev('[data-role="page"]');
			        if (prevpage.length > 0) {
			            $.mobile.changePage(prevpage, {transition: "slide", reverse: true}, true, true);
			        }
			        event.handled = true;
			    }
			    return false;            
			});
	</script>

{% endblock %}