{% extends "template.html" %}

{%block title %}Invitations{% endblock %}

{% block content %}
	    	<h2 style='text-align:left'>Your invitations</h2>
	    	<div id='invitation_container' class="invitation">
	    		
	    		<!--Invitation-->
	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='200px' src='../style/img/tyler.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'>Tyler wants to volunteer with you!</h4>
		    			<p>May 8th, 4-6PM, Harvard Square Homeless Shelter</p>

		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Accept
		    			</button>
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-remove'></span>
		    				</br>Decline
		    			</button>
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button>
		    		</div>
		    	</div>

	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='200px' src='../style/img/joanna.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'>Joanna wants to volunteer with you!</h4>
		    			<p>4-6PM, Harvard Square Homeless Shelter</p>

		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Accept
		    			</button>
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-remove'></span>
		    				</br>Decline
		    			</button>
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button>
		    		</div>
		    	</div>
	    	</div><!--Invitation container-->
{% endblock %}