{% extends "template.html" %}

{%block title %}Invitations{% endblock %}

{% block content %}

	<style>
		#invite-button {
			color: #33CCFF;
		}

		#invite-button>span {
			color: #33CCFF;
		}

		.btn-default {
			width: 30%;
			font-size: 1em;
		}

		.btn-noborder{
			border: none;
			background-color: #f5f5f5;
		}
	</style>
	    	<h2 style='text-align:left'>Your invitations</h2>
	    	<div id='invitation_container' class="invitation">
	    		
	    		<!--Invitation-->
	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='80px' src='../style/img/tyler.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'>Tyler wants to volunteer with you!</h4>
		    			<p>May 8th, 4-6PM</p>
		    			<p>Harvard Square Homeless Shelter</p>

		    			<button type='button' class='btn btn-default btn-noborder'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Accept
		    			</button>
		    			<button type='button' class='btn btn-default btn-noborder'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-remove'></span>
		    				</br>Decline
		    			</button>
		    			<a href="/chat/Tyler"
		    			<button type='button' class='btn btn-default btn-noborder'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button></a>
		    		</div>
		    	</div>

	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='80px' src='../style/img/joanna.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'>Joanna wants to volunteer with you!</h4>
		    			<p>4-6PM, Harvard Square Homeless Shelter</p>

		    			<button type='button' class='btn btn-default btn-noborder'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Accept
		    			</button>
		    			<button type='button' class='btn btn-default btn-noborder'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-remove'></span>
		    				</br>Decline
		    			</button>
		    			<a href="/chat/Joanna"
		    			<button type='button' class='btn btn-default btn-noborder'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button></a>
		    		</div>
		    	</div>
	    	</div><!--Invitation container-->
{% endblock %}