{% extends "template.html" %}

{%block title %}Invite{% endblock %}

{% block content %}

	    	<h2 style='text-align:center'>Invite Friends</h2>
	    	<div id='invitation_container' class="invitation">

	    		<!--Search Bar-->
	    		<div class="row">
  					<div class="col-lg-6">
  						<div class="input-group">
					      <input type="text" class="form-control" placeholder="Search Friends...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div><!-- /input-group -->
					 </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
	    		
	    		<!--Invitation-->
	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='200px' src='../style/img/tyler.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'><strong>Tyler</strong></h4>

		    			<link href="../sent.html">
			    			<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-envelope'></span>
			    				</br>Invite
			    			</button>
			    		</link>
		    			
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button>
		    		</div>
		    	</div>

	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='200px' src='../style/img/joanna.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'><strong>Joanna</strong></h4>

		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-envelope'></span>
		    				</br>Invite
		    			</button>
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button>
		    		</div>
		    	</div>
	    	</div><!--Invitation container-->
{% endblock %}