{% extends "template.html" %}

{%block title %}Matches{% endblock %}

{% block content %}

	    	<ul class="list-group">
			    <li class="list-group-item"><br/></li>
			    <li class="list-group-item">
			    	<ul class="list-inline">
			    		<li class="text-left"><img class='img-circle' id='user_picture' height='50px' src='../style/img/katie.jpg'></img><h3>  Katie, 29</h3></dt></li>
			    		
			    		<div class="text-right list-inline">
			    		<li><span class="glyphicon glyphicon-comment icon-blue" aria-hidden="true" style="font-size:2em"></span> Chat </li>
			    		<li><span class="glyphicon glyphicon-calendar icon-blue" aria-hidden="true" style="font-size:2em"></span> Invite </li>
			    		</div>
			    	</ul>
			    </li>
			    <li class="list-group-item">
			    	<ul class="list-inline">
			    		<li><img class='img-circle' id='user_picture' height='50px' src='../style/img/katie.jpg'></img></li>
			    		<li><h3>Hannah, 31</h3></dt></li>
			    		<div class="text-right list-inline">
			    		<li><span class="glyphicon glyphicon-comment icon-blue" aria-hidden="true" style="font-size:2em"></span> Chat </li>
			    		<li><span class="glyphicon glyphicon-calendar icon-blue" aria-hidden="true" style="font-size:2em"></span> Invite </li>
			    		</div>
			    	</ul>
			    </li>
			    <li class="list-group-item">
			    	<ul class="list-inline">
			    		<li><img class='img-circle' id='user_picture' height='50px' src='../style/img/katie.jpg'></img></li>
			    		<li><h3>Julia, 35</h3></dt></li>
			    		<div class="text-right list-inline">
			    		<li><span class="glyphicon glyphicon-comment icon-blue" aria-hidden="true" style="font-size:2em"></span> Chat </li>
			    		<li><span class="glyphicon glyphicon-calendar icon-blue" aria-hidden="true" style="font-size:2em"></span> Invite </li>
			    		</div>
			    	</ul>
			    </li>
			    <li class="list-group-item">
			    	<ul class="list-inline">
			    		<li><img class='img-circle' id='user_picture' height='50px' src='../style/img/katie.jpg'></img></li>
			    		<li><h3>Samantha, 24</h3></dt></li>
			    		<div class="text-right list-inline">
			    		<li><span class="glyphicon glyphicon-comment icon-blue" aria-hidden="true" style="font-size:2em"></span> Chat </li>
			    		<li><span class="glyphicon glyphicon-calendar icon-blue" aria-hidden="true" style="font-size:2em"></span> Invite </li>
			    		</div>
			    	</ul>
			    </li>
			    <li class="list-group-item">
			    	<ul class="list-inline">
			    		<li><img class='img-circle' id='user_picture' height='50px' src='../style/img/katie.jpg'></img></li>
			    		<li><h3>Elizabeth, 26</h3></dt></li>
			    		<div class="text-right list-inline">
			    		<li><span class="glyphicon glyphicon-comment icon-blue" aria-hidden="true" style="font-size:2em"></span> Chat </li>
			    		<li><span class="glyphicon glyphicon-calendar icon-blue" aria-hidden="true" style="font-size:2em"></span> Invite </li>
			    		</div>
			    	</ul>
			    </li>
			    <li class="list-group-item">
			    	<ul class="list-inline">
			    		<li><img class='img-circle' id='user_picture' height='50px' src='../style/img/katie.jpg'></img></li>
			    		<li><h3>Alice, 29</h3></dt></li>
			    		<div class="text-right list-inline">
			    		<li><span class="glyphicon glyphicon-comment icon-blue" aria-hidden="true" style="font-size:2em"></span> Chat </li>
			    		<li><span class="glyphicon glyphicon-calendar icon-blue" aria-hidden="true" style="font-size:2em"></span> Invite </li>
			    		</div>
			    	</ul>
			    </li>
			    <li class="list-group-item">
			    	<ul class="list-inline">
			    		<li><img class='img-circle' id='user_picture' height='50px' src='../style/img/katie.jpg'></img></li>
			    		<li><h3>Sarah, 29</h3></dt></li>
			    		<div class="text-right list-inline">
			    		<li><span class="glyphicon glyphicon-comment icon-blue" aria-hidden="true" style="font-size:2em"></span> Chat </li>
			    		<li><span class="glyphicon glyphicon-calendar icon-blue" aria-hidden="true" style="font-size:2em"></span> Invite </li>
			    		</div>
			    	</ul>
			    </li>
			    
			</ul>
{% endblock %}