{% extends "template.html" %}

{%block title %}Matches{% endblock %}


{% block content %}

	<style>
		#match-button {
			color: #33CCFF;
		}

		#match-button>span {
			color: #33CCFF;
		}
	</style>

	    	<h2 style='text-align:center'>Invite or Message Matches</h2>
	    	<div id='invitation_container' class="invitation">

	    		<!--Search Bar-->
	    		<div class="row">
  					<div class="col-lg-6">
  						<div class="input-group">
					      <input type="text" class="form-control" placeholder="Search Matches...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div><!-- /input-group -->
					 </div><!-- /.col-lg-6 -->
					 <div class="col-lg-6">
					      <a href="/invite"><h4>Or invite friends!</h4></a>
					</div>
				</div><!-- /.row -->

	    		<!--Invitation-->
	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='64px' src='../style/img/katie.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'><strong>Katie</strong></h4>

		    			<a href="/sent/Katie">
			    			<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-envelope'></span>
			    				</br>Invite
			    			</button>
			    		</a>
		    			
		    			<a href="/chat/Katie">
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button></a>
		    		</div>
		    	</div>

		    	<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile'>
	    					<img class='img-circle' width='64px' src='../style/img/sue.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'><strong>Sue</strong></h4>
		    			<a href="/sent/Sue">
			    			<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-envelope'></span>
			    				</br>Invite
			    			</button>
		    			</a>
		    			<a href="/chat/Sue"
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button></a>
		    		</div>
		    	</div>

	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' width='64px' src='../style/img/joanna.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'><strong>Joanna</strong></h4>
		    			<a href="/sent/Joanna">
			    			<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-envelope'></span>
			    				</br>Invite
			    			</button>
			    		</a>
			    		<a href="/chat/Joanna"
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-comment'></span>
		    				</br>Message
		    			</button></a>
		    		</div>
		    	</div>
	    	</div><!--Invitation container-->
{% endblock %}