{% extends "template.html" %}

{%block title %}Opportunities{% endblock %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<h1>Vounteering Opportunities<h1>
			</div>
		</div>
		<div class="panel-body">
			<div class="row" content="width=device-width">
				<!-- <iframe src="./googlemap.html" frameborder="0" height="60%" width="100%"></iframe> -->
				<iframe src="http://mapbuildr.com/frame/xdnhka" frameborder="0" height="60%" width="100%"></iframe>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-3">
					<!-- insert picture here -->
					<img src='/views/style/img/womencenter.png' class='img-rounded' height='150px' width="200px">
				</div>

				<div class="col-xs-6">
					<div class="row">
						<h4>Cambridge Women's Center</h4>
					</div>
					<div class="row">
						<p class="text-left">
							Support the women's community by getting involved with the Women's Center.
							Explore how gender and specifically gender roles affect your life.  Encourage other women to do the same. Broaden the horizons of women in the community by sharing information and skills. Learn how public policy decisions impact the lives of women. Take a stand on those issues and make a difference.

							The Women's Center provides information about women's issues, promotes discussion about policies that affect our lives, and encourages the sharing of skills, resources, and information. Explore, discuss, engage, encourage, support, and take a stand for women.
						</p>
					</div>
				</div>

				<!-- <div class="col-xs-1"></div> -->
				<div class="col-xs-3">
					<div class="row" style="translateY(50px);">
						<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Accept
	    				</button>
		    			<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-remove'></span>
		    				</br>Decline
		    			</button>
	    			</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
