{% extends "template.html" %}

{%block title %}Opportunities{% endblock %}

{% block content %}

	<style>
		#volunteer-button {
			color: #33CCFF;
		}

		#volunteer-button>span {
			color: #33CCFF;
		}
	</style>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<h3>Vounteering Opportunities<h3>
			</div>
		</div>
		<div class="panel-body">
			<div class="row" content="width=device-width">
				<!-- <iframe src="./googlemap.html" frameborder="0" height="60%" width="100%"></iframe> -->
				<iframe src="https://mapbuildr.com/frame/xdnhka" frameborder="0" height="120%" width="100%"></iframe>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-1">
					<!-- insert picture here -->
					<img src='../style/img/womencenter.png' class='img-rounded' height='150px' width="200px">
				</div>

				<!-- <div class="col-xs-1"></div> -->
				<div class="col-xs-2" style="position: relative; left: 200px;">
					<div class="row">
						<a href = "/times">
						<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Choose
	    				</button></a>
		    			
	    			</div>
				</div>
			</div>

			<div class="row">
				<div class="row">
					<h3 class="text-center">Cambridge Women's Center</h3>
				</div>

				<div class="row" style="padding: 20px;">
					<p class="text-left">
						Support the women's community by getting involved with the Women's Center.
						Explore how gender and specifically gender roles affect your life.  Encourage other women to do the same. Broaden the horizons of women in the community by sharing information and skills. Learn how public policy decisions impact the lives of women. Take a stand on those issues and make a difference. </p>
					<br>
					<p class="text-left">
						The Women's Center provides information about women's issues, promotes discussion about policies that affect our lives, and encourages the sharing of skills, resources, and information. Explore, discuss, engage, encourage, support, and take a stand for women.
					</p>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-1">
					<!-- insert picture here -->
					<img src='../style/img/phillipsbrookhouse.png' class='img-rounded' height='150px' width="200px">
				</div>

				<!-- <div class="col-xs-1"></div> -->
				<div class="col-xs-2" style="position: relative; left: 200px;">
					<div class="row">
						<a href="/times">
						<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Choose
	    				</button></a>
		    			
	    			</div>
				</div>
			</div>

			<div class="row">
				<div class="row">
					<h3 class="text-center">Harvard Phillips Brook House</h3>
				</div>

				<div class="row" style="padding: 20px;">
					<p class="text-left">
						The Phillips Brooks House Association strives for social justice. As a student-run organization, we draw upon the creative initiative of students and community members to foster collaboration that empowers individuals and communities. Through social service and social action, PBHA endeavors to meet community needs while advocating structural change. PBHA seeks to promote social awareness and community involvement at Harvard and beyond.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-1">
					<!-- insert picture here -->
					<img src='../style/img/HSHS.png' class='img-rounded' height='150px' width="200px">
				</div>

				<!-- <div class="col-xs-1"></div> -->
				<div class="col-xs-2" style="position: relative; left: 200px;">
					<div class="row">
						<a href="/times">
						<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Choose
	    				</button></a>
		    			
	    			</div>
				</div>
			</div>

			<div class="row">
				<div class="row">
					<h3 class="text-center">Harvard Square Homeless Shelter</h3>
				</div>

				<div class="row" style="padding: 20px;">
					<p class="text-left">
						The Harvard Square Homeless Shelter is a student-run homeless shelter currently operating out of the University Lutheran Church in Harvard Square that serves 24 men and women every night for the five coldest months of winter. We strive to provide our guests with resources and services that will help them successfully transition into housing. In the meantime, we hope to ensure a sense of dignity that is often absent when people have been maltreated or stigmatized because they are homeless.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-1">
					<!-- insert picture here -->
					<img src='../style/img/cambridgeschoolvolunteers.png' class='img-rounded' height='150px' width="200px">
				</div>

				<!-- <div class="col-xs-1"></div> -->
				<div class="col-xs-2" style="position: relative; left: 200px;">
					<div class="row">
						<a href="/times">
						<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Choose
	    				</button></a>
		    			
	    			</div>
				</div>
			</div>

			<div class="row">
				<div class="row">
					<h3 class="text-center">Cambridge School Volunteers</h3>
				</div>

				<div class="row" style="padding: 20px;">
					<p class="text-left">
						Cambridge School Volunteers (CSV) assists Cambridge public school students achieve their educational goals. </p>
						<br>
					<p class="text-left">
						CSV develops programs that match caring and competent volunteers with students of all needs and levels of learning. </p>
						<br>
					<p class="text-left">
						CSV employs a professional staff of nine (full and part-time) who oversees these programs and who are also responsible for the placement of approximately 900 tutors and mentors annually working in the 12 elementary schools, four middle schools and the high school, Cambridge Rindge & Latin School (CRLS). </p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-1">
					<!-- insert picture here -->
					<img src='../style/img/worldteach.png' class='img-rounded' height='150px' width="200px">
				</div>

				<!-- <div class="col-xs-1"></div> -->
				<div class="col-xs-2" style="position: relative; left: 200px;">
					<div class="row">
						<a href="/times">
						<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Choose
	    				</button></a>
		    			
	    			</div>
				</div>
			</div>

			<div class="row">
				<div class="row">
					<h3 class="text-center">World Teach</h3>
				</div>

				<div class="row" style="padding: 20px;">
					<p class="text-left">
						As a WorldTeach volunteer, you will witness firsthand the challenges and rewards of education in a developing country. You will share the skills and knowledge gained through your education and life experience with your students, and you will make a lasting difference in their lives, opening their eyes to a world beyond their classrooms. </p>
						<br>
					<p class="text-left">
						You will gain cultural understanding and the ability to work independently in a new and often challenging environment. </p>
						<br>
					<p class="text-left">
						You will develop key skills-- including teaching, language, cross-cultural communication, and leadership-- that will be useful in any career path. </p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-1">
					<!-- insert picture here -->
					<img src='../style/img/cambridgecommunityservices.png' class='img-rounded' height='150px' width="200px">
				</div>

				<!-- <div class="col-xs-1"></div> -->
				<div class="col-xs-2" style="position: relative; left: 200px;">
					<div class="row">
						<a href="/times">
						<button type='button' class='btn btn-default'>
		    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
		    				</br>Choose
	    				</button></a>
		    			
	    			</div>
				</div>
			</div>

			<div class="row">
				<div class="row">
					<h3 class="text-center">Cambridge Community Services</h3>
				</div>

				<div class="row" style="padding: 20px;">
					<p class="text-left">
						Cambridge Community Services (CCS) is a private, non-profit, community-based organization whose mission is to identify emerging needs in the Cambridge community and design innovative, collaborative solutions to these needs. CCS’ direct service initiatives currently focus on youth development and feature higher education access, internship experience, career exploration, one-to-one mentoring and tutoring, community service and civic leadership. Historically, the agency has served as a neutral convener, technical assistance provider, and catalyst for positive social change. In keeping with this approach, all CCS programs are developed as models so that best practices can be shared with other organizations and communities
					</p>
				</div>
			</div>



		</div>
	</div>

{% endblock %}
