{% extends "template.html" %}

{%block title %}Choose{% endblock %}

{% block content %}

	<style>
		#connect-button {
			color: #33CCFF;
		}

		#connect-button>span {
			color: #33CCFF;
		}

		h2 {
			text-transform: uppercase; 
			text-align: center;
			font-size: 18px;
		}
		h2:after, h4:after {
		    content:' ';
		    display:block;
		    border:2px solid #d0d0d0;
		    border-radius:4px;
		    -webkit-border-radius:4px;
		    -moz-border-radius:4px;
		    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		}


	</style>
			<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<div class="panel-title">
	    				<h1>Vounteering Opportunities<h1>
	    			</div>
	    		</div>
		    	<div class="row">
					<div class="col-xs-1">
						<!-- insert picture here -->
						<img src='../style/img/womencenter.png' class='img-rounded' height='150px' width="200px">
					</div>

					<!-- <div class="col-xs-1"></div> -->
					<div class="col-xs-2" style="position: relative; left: 200px;">
						<div class="row">
							<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
			    				</br>View Times
		    				</button>
		    			</div>
					</div>
				</div>


				<div class="row">
					<div class="row">
						<h3 class="text-center">Cambridge Women's Center</h3>
					</div>

					<div class="row" style="padding: 20px;">
						<p class="text-left">
							Support the women's community by getting involved with the Women's Center.
							Explore how gender and specifically gender roles affect your life.  Encourage other women to do the same. Broaden the horizons of women in the community by sharing information and skills. Learn how public policy decisions impact the lives of women. Take a stand on those issues and make a difference.

							The Women's Center provides information about women's issues, promotes discussion about policies that affect our lives, and encourages the sharing of skills, resources, and information. Explore, discuss, engage, encourage, support, and take a stand for women.
						</p>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
	    		
		    	<div class="row">
					<div class="col-xs-1">
						<!-- insert picture here -->
						<img src='../style/img/hshs.png' class='img-rounded' height='150px' width="200px">
					</div>

					<!-- <div class="col-xs-1"></div> -->
					<div class="col-xs-2" style="position: relative; left: 200px;">
						<div class="row">
							<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
			    				</br>View Times
		    				</button>
		    			</div>
					</div>
				</div>


				<div class="row">
					<div class="row">
						<h3 class="text-center">Harvard Square Homeless Shelter</h3>
					</div>

					<div class="row" style="padding: 20px;">
						<p class="text-left">
							The Street Team is a fully incorporated program of the Harvard Square Homeless Shelter, consisting of 21 trained volunteers, that runs from November 1st to April 15th.

							Each night, a group of 3 volunteers arrives at the Shelter around 7:45 to prepare sandwiches and pack up other food before going out into Harvard Square to provide individuals with basic amenities such as food, blankets, and socks; distribute information about available resources (i.e. healthcare, job searches, food during the day, etc.); refer individuals to local shelters; and build relationships with people sleeping outside.

						</p>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
	    		
		    	<div class="row">
					<div class="col-xs-1">
						<!-- insert picture here -->
						<img src='../style/img/animalrescue.png' class='img-rounded' height='150px' width="200px">
					</div>

					<!-- <div class="col-xs-1"></div> -->
					<div class="col-xs-2" style="position: relative; left: 200px;">
						<div class="row">
							<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
			    				</br>View Times
		    				</button>
		    			</div>
					</div>
				</div>


				<div class="row">
					<div class="row">
						<h3 class="text-center">Animal Rescue Center</h3>
					</div>

					<div class="row" style="padding: 20px;">
						<p class="text-left">
							<b>Boston Lobby Volunteer</b>: This volunteer position works with our adoption center in the lobby area of our Boston headquarters. We are in need of help greeting clients, directing clients to the appropriate location, answering incoming phone calls and other light administrative duties. This volunteer would also be responsible for light housekeeping duties to help keep the lobby area presentable. <b>This position is available on nights and weekends.</b>
						</p>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
	    		
		    	<div class="row">
					<div class="col-xs-1">
						<!-- insert picture here -->
						<img src='../style/img/citizenschools.png' class='img-rounded' height='150px' width="200px">
					</div>

					<!-- <div class="col-xs-1"></div> -->
					<div class="col-xs-2" style="position: relative; left: 200px;">
						<div class="row">
							<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-ok'></span>
			    				</br>View Times
		    				</button>
		    			</div>
					</div>
				</div>


				<div class="row">
					<div class="row">
						<h3 class="text-center">Junior Solar Sprint</h3>
					</div>

					<div class="row" style="padding: 20px;">
						<p class="text-left">
							Support the women's community by getting involved with the Women's Center.
							Explore how gender and specifically gender roles affect your life.  Encourage other women to do the same. Broaden the horizons of women in the community by sharing information and skills. Learn how public policy decisions impact the lives of women. Take a stand on those issues and make a difference.

							The Women's Center provides information about women's issues, promotes discussion about policies that affect our lives, and encourages the sharing of skills, resources, and information. Explore, discuss, engage, encourage, support, and take a stand for women.
						</p>
					</div>
				</div>
			</div>

	    		
{% endblock %}