{% extends "template.html" %}

{%block title %}Sent{% endblock %}

{% block content %}
	    	<h2 style='text-align:left'>Your invitations</h2>
	    	<div id='invitation_container' class="invitation">
	    		
	    		<!--Invitation-->
	    		<div class='media well'>
	    			<div class='media-left' width='64px'>
	    				<a href='profile.html'>
	    					<img class='img-circle' height='200px' src='../style/img/'{{name|lower}}'.jpg'>
	    				</a>
	    			</div>
	    			<div class='media-body'>
		    			<h4 class='media-heading'>Your Invitation to {{name}} has been sent!</h4>
		    			<p>May 8th, 4-6PM, Harvard Square Homeless Shelter</p>

		    			<a href="/invite">
			    			<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-envelope'></span>
			    				</br>Invite More Friends
			    			</button>
			    		</a>
		    			<a href=/"calendar">
			    			<button type='button' class='btn btn-default'>
			    				<span style='font-size:2em' class='glyphicon glyphicon-calendar'></span>
			    				</br>Back to Calendar
			    			</button>
			    		</a>
		    		</div>
		    	</div>

	    	</div><!--Invitation container-->
{% endblock %}
	   