<html lang='en'>
	<head>
		{% block head %}
		<title>Vollie - {% block title %}{% endblock %}</title>

		<!--Latest compiled version of Bootstrap-->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!--Latest compiled JavaScript-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!--Custom stylesheet-->
		<link rel="stylesheet" type="text/css" href="../style/css/main_style.css"></script>
		{% endblock %}
	</head>

	<body>

	    <!--Top navigation-->
	    {% block topNav %}
	    <nav class="navbar-fixed-top">
	    	<div class='btn-group btn-group-justified' role='group'>
		    		<div class='btn-group' role='group'>
		    			<link href="/profile.html">
		    			<button type="button" class="btn btn-lg btn-responsive">
							<span class="glyphicon glyphicon-user"></span> My profile
						</button></link>
		    		</div>

		    		<div class='btn-group' role='group'>
		    			<link href="/homepage.html">
			    		<button type="button" class="btn btn-lg btn-responsive">
			    				<b>Do Good Together</b>
			    		</button></link>
		    		</div>

		    		<div class='btn-group' role='group'>
		    			<button type="button" class="btn btn-lg btn-responsive">
							<span class="glyphicon glyphicon-question-sign"></span>  Help
						</button>
		    		</div>
		    		
		    </div>
	    </nav>
	    {% endblock %}

	    <div id="main_container">
	    {% block content %}
	    
	    {% endblock %}
	    </div>

	    <!--Bottom navigation bar-->
	    {% block bottomNav %}
	    <footer class='footer'>
	    <nav class="navbar navbar-default navbar-fixed-bottom" id="bottom_nav">
	    	<div class='btn-group btn-group-justified' role='group'>
		    		<div class='btn-group' role='group'>
		    			<link href="/opportunities.html">
		    			<button type="button" class="btn btn-default btn-lg btn-responsive">
		    				<span class="glyphicon glyphicon-map-marker icon-blue" aria-hidden="true" style="font-size:2em"></span></br>Opportunities</button></link>
		    		</div>

		    		<div class='btn-group' role='group'>
		    			<link href="/connect.html">
			    		<button type="button" class="btn btn-default btn-lg btn-responsive">
			    				<span class="glyphicon glyphicon-globe icon-blue" aria-hidden="true" style="font-size:2em"></span></br>Connect</button></link>
		    		</div>

		    		<div class='btn-group' role='group'>
		    			<link href="/matches.html">
			    		<button type="button" class="btn btn-default btn-lg btn-responsive">
			    				<span class="glyphicon glyphicon-heart icon-blue" aria-hidden="true" style="font-size:2em"></span></br>Matches</button></link>
		    		</div>

		    		<div class='btn-group btn-blue' role='group'>
		    			<link href="/invitations.html">
			    		<button type="button" class="btn btn-default btn-lg btn-responsive">
			    				<span class="glyphicon glyphicon-globe icon-blue" aria-hidden="true" style="font-size:2em"></span></br>Invitations</button></link>
		    		</div>
		    </div>
	    </nav>
	    </footer>
	    {% endblock %}
	</body>

</html>