<!DOCTYPE html>
<html lang="en">
  
  <head>
  	{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Do Good Together - {% block title %}{% endblock %}</title>
	
	<!--Jquery-->
	<script src="../style/js/jquery.js"></script>

    <!--Latest compiled version of Bootstrap-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!--Latest compiled JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!--Custom stylesheet-->
    <link rel="stylesheet" type="text/css" href="../style/css/style.css"></script>

    <!--Animations-->
    <link rel="stylesheet" type="text/css" href="../style/css/animations.css"></script>

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    
    {% endblock %}
  </head>

  <body>
  	{% block topNav %}
        <header class='pullDown'>
          <div class='btn-group btn-group-justified' role='group'>
              <div class='btn-group' role='group'>
                <a href="/profile">
                <button type="button" class="btn btn-lg btn-responsive">
                <span class="glyphicon glyphicon-user"></span> <font size="2"> My profile </font>
              </button></a>
              </div>

              <div class='btn-group' role='group'>
                <a href="/">
                <button type="button" class="btn btn-lg btn-responsive">
                    <font size="1"><b>Do Good Together</b></font>
                </button></a>
              </div>

              <div class='btn-group' role='group'>
                <button type="button" class="btn btn-lg btn-responsive">
                <span class="glyphicon glyphicon-question-sign"></span><font size="2"> Help</font>
              </button>
              </div>  
          </div>
        </header>
    <!--<div class="header">
        <div class='btn-group btn-group-justified' role='group' style='font-size: 1.2em'>
              <span class="glyphicon glyphicon-user"></span> My profile
            </button>
        </div>
    </div>-->
    {% endblock %}

    <!-- Begin page content -->
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    {% block bottomNav %}
       <!--class="navbar navbar-default navbar-fixed-bottom" id="bottom_nav">-->
    <footer>
        <div class='btn-group btn-group-justified' role='group'>
 
 			<a href="/opportunities">
              <button type="button" class="btn-xlg" id='volunteer-button'>
                <span class="glyphicon glyphicon-map-marker icon-blue" aria-hidden="true" style="font-size:1.5em"></span><p style='font-size:0.5em'>Volunteer</p></button>
            </a>

            <a href="/connect/1">
              <button type="button" class="btn-xlg" id='connect-button'>
                <span class="glyphicon glyphicon-globe icon-blue" aria-hidden="true" style="font-size:1.5em"></span><p style='font-size:0.5em'>Connect</p></button>
            </a>

            <a href="/matches">
              <button type="button" class="btn-xlg" id='match-button'>
                <span class="glyphicon glyphicon-heart icon-blue" aria-hidden="true" style="font-size:1.5em"></span><p style='font-size:0.5em'>Match</p></button>
            </a>

			<a href="/invitations">           
              <button type="button" class="btn-xlg" id='invite-button'>
                <span class="glyphicon glyphicon-envelope icon-blue" aria-hidden="true" style="font-size:1.5em"></span><p style='font-size:0.5em'>Invites</p></button>
            </a>

          </div>
    </footer>
    {% endblock %}
  </body>
</html>

