/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.btn-xlg {
  height: 90px;
  font-size: 2em;
  width: 25%;
  border: none;
  background-color: #f5f5f5;
}

.btn-xlg:hover {
  background-color: #ffffff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  text-align: right;
  padding-right: 2%;
  padding-top: 1%;
}

.header>btn-group {
  text-align: right;
}

.icon-blue {
  color: #598CBA;
}

#main_container {
  overflow:auto;
  padding-bottom: 180px;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 2%;
  text-align: center;
}

#top_nav {
  background-color: #01182D;
  color: white;
}

#bottom_nav>button {
  background-color: yellow;
}

#user_picture:hover {
    -webkit-filter: brightness(50%);
}

#choice-button-no {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    color: #FF0000;
}

#choice-button-yes{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    color: #33CC33;

.css-center {
  display: inline-block;
    vertical-align: middle;
    float: none;