/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 0px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #f5f5f5;

}


html {
  position: relative;
  /*min-height: 80%;*/
}

@media (max-width:768px){

  .btn-xlg {
    height: 80px;
    font-size: 1.2em;
    width: 25%;
    border: none;
    background-color: #f5f5f5;
  }

  footer {
    height: 80px;
  }

}

@media (min-width:769px) {

  .btn-xlg {
    height: 100px;
    font-size: 1.5em;
    width: 25%;
    border: none;
    background-color: #f5f5f5;
  }

  footer {
    height: 100px;
  }
}
.btn-xlg:hover {
  background-color: #ffffff;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  text-align: right;
  padding-right: 2%;
  padding-top: 1%;
}

.header>btn-group {
  text-align: right;
}

.icon-blue {
  color: #598CBA;
}