/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 70px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;

}


html {
  position: relative;
  min-height: 100%;
}

.container {
  background-color: #dcdbd9;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

@media(max-width:768px){

  .btn-xlg {
    height: 100%;
    font-size: 1.2em;
    width: 24%;
    border: none;
    padding-top: 1%;
    background-color: #f5f5f5;
  }

  footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 70px;
    padding-top: 10px;
    background-color: #f5f5f5;

  }

  .btn-xlg:hover {
  background-color: #ffffff;
}

}

@media(min-width: 769px){

  .btn-xlg {
    height: 100%;
    font-size: 2em;
    width: 24%;
    padding-top: 1%;
    border: none;
    background-color: #f5f5f5;
  }

  footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 70px;
    background-color: #f5f5f5;

  }

  .btn-xlg:hover {
  background-color: #ffffff;
}

}


.header {
  position: absolute;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  text-align: right;
  padding-right: 2%;
  padding-top: 1%;
}

.header>btn-group {
  text-align: right;
}

.icon-blue {
  color: #598CBA;
}

#choice-button-no {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    color: #FF0000;
}

#choice-button-yes{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    color: #33CC33;

.css-center {
  display: inline-block;
    vertical-align: middle;
    float: none;